.offers-raspberry {
  background-color: #FF7799;
  background-image: url(../img/basket-raspberries.png);
  background-repeat: no-repeat;
}

.offers-marshmallow {
  background-color: #FF7799;
  background-image: url(../img/basket-marshmallows.png);
  background-repeat: no-repeat;
}

.advantages {
  background-color: #F4E9D1;
  background-image: url(../img/background-waffle.jpg);
  background-repeat: no-repeat;
}

.blog {
  background-color: #FFFFFF;
  background-image: url(../img/background-blog.jpg);
  background-repeat: no-repeat;
}

.subscribe {
  background-color: #FFFFFF;
  background-image: url(../img/background-mail.png);
  background-repeat: no-repeat;
}

.delivery {
  background-color: #FFFFFF;
  background-image: url(../img/background-delivery.jpg);
  background-repeat: no-repeat;
}

.contacts {
  background-color: #EFE4E2;
  background-image: url(../img/background-address.jpg);
  background-repeat: no-repeat;
}
